body {
    background-color: #D2B48C;
    font-family: "Tahoma", sans-serif;
}

h1 {
    font-family: "Times New Roman", serif;
}

.navbar b {
    font-family: "Tahoma", sans-serif;
}

.container table th, .container table td {
    font-family: "Tahoma", sans-serif;
}

form input[type="text"],
form input[type="email"],
form textarea {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 30%;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}